{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Host
        </div>
        <div class="card-body">
            <h5 class="card-title">Host Disponibles</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% if milista%}
                {% for db in milista %}
                <tr>
                    <th scope="row">1</th>
                    <td>{% db.db_host %}</td>
                    <td>{% db.db_user %}</td>
                    <td>{% db.db_desc %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <p>No host are available.</p>
                {% endif %}
                </tbody>
            </table>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <form role="form" method="post">

        {% bootstrap_form form %}

        {% if milista%}

        {% else %}
        <p>No host are available.</p>
        {% endif %}
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>
</div>
{% endblock %}