{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Test de lectoura de configuraciones
        </div>
        <div class="card-body">
            <h5 class="card-title">Host obtenidos</h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Host</th>
                    <th scope="col">User</th>
                    <th scope="col">Desc</th>
                </tr>
                </thead>
                <tbody>
                {% if milista%}
                    {% for db in milista %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ db.db_host }}</td>
                        <td>{{ db.db_user }}</td>
                        <td>{{ db.db_desc }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <p>No host are available.</p>
                {% endif %}
                </tbody>
            </table>
            <a href="#" class="btn btn-primary">Agregar nuevo</a>
        </div>
    </div>
</div>
{% endblock %}